extends layout
block content
    .wrapper.wrapper-content.animated.fadeInRight
        
       .loginscreen.text-center.animated.fadeInDown
            h3 View category to IC+
            p View category to see it in action.
            if category
                form(method='post',action='')
                    .form-group
                        .col-lg-2
                            label Name
                        .col-lg-10
                            input.form-control(type='text', name='name', placeholder='Name', value='#{category.name}')
                            br
                    .form-group
                        .col-lg-2
                            label Author
                        .col-lg-10
                            input.form-control(type='text',placeholder='Author',name='author',value='#{category.author}')
                            br
                    .form-group
                        .col-lg-2
                            label Description
                        .col-lg-10
                            textarea.form-control(rows='5', name='description',placeholder='Address') #{category.description}
                            br
                    .form-group
                        .col-lg-2
                            label Created at
                        .col-lg-10
                            input.form-control(type='text',name='author',value='#{moment(category.date).format("DD.MM.YYYY")}')
                            br
                    .form-group
                        .col-lg-2
                            label Danh mục cha
                        .col-lg-10
                            select.form-control(name='parent')
                                option(value="0") Danh mục cha
                                if categories
                                    each category in categories
                                        
                                        option(value="#{category.id}") #{category.name}
                            br
                    .form-group
                        .col-lg-12
                            input.btn.btn-outline.btn-primary.fomr-control(type='submit',name='submit',value='Edit')

                
                